manifest {
    name            = 'metagenomics-nextflow'
    author          = 'Metagenomics project contributors'
    description     = 'A modular shotgun metagenomics workflow'
    nextflowVersion = '>=26.04.0'
}

params {
    input                    = null
    outdir                   = 'results'
    host_bowtie2_index       = null
    publish_dir_mode         = 'copy'
    save_clean_reads         = false
    save_host_removed_reads  = true
}

includeConfig 'conf/base.config'
includeConfig 'conf/resources.config'
includeConfig 'conf/modules.config'

profiles {
    local {
        includeConfig 'conf/local.config'
    }

    test {
        includeConfig 'conf/test.config'
    }

    slurm {
        includeConfig 'conf/slurm.config'
    }
}
