manifest {
    name            = 'metagenomics-nextflow'
    author          = 'Metagenomics project contributors'
    description     = 'A modular shotgun metagenomics workflow'
    nextflowVersion = '>=26.04.6'
}

params {
    input                       = null
    outdir                      = 'results'
    publish_dir_mode            = 'copy'
    conda_cache_dir             = null

    host_bowtie2_index          = null
    checkm2_db                  = null
    gunc_db                     = null
    gtdbtk_db                   = null
    phylophlan_db               = null
    phylophlan_config           = "${projectDir}/assets/phylophlan_iqtree.cfg"
    phylophlan_container        = 'metagenomics/phylophlan-iqtree:3.1.1-3.0.1'
    genemark_key                = null
    genemark_home               = null
    eggnog_db                   = null
    interproscan_data           = null

    min_contig_length           = 1500
    hq_completeness             = 90.0
    hq_contamination            = 5.0
    derep_ani                   = 0.99
    species_ani                 = 0.95
    derep_coverage              = 0.30

    save_clean_reads            = false
    save_host_removed_reads     = true
    save_bam                    = false
    save_intermediates          = false

    slurm_account               = null
    slurm_queue                 = null
    slurm_qos                   = null
    slurm_cluster_options       = null
    slurm_queue_size            = 100
    local_max_jobs              = 2
    max_cpus                    = 32
    max_memory                  = '1800 GB'
    max_time                    = '14d'
}

includeConfig 'conf/base.config'
includeConfig 'conf/resources.config'
includeConfig 'conf/modules.config'

profiles {
    local {
        includeConfig 'conf/local.config'
    }

    hpc {
        includeConfig 'conf/hpc.config'
    }

    docker {
        includeConfig 'conf/docker.config'
    }

    conda {
        includeConfig 'conf/conda.config'
    }

    apptainer {
        includeConfig 'conf/apptainer.config'
    }

    singularity {
        includeConfig 'conf/singularity.config'
    }

}
