process {
    executor = 'slurm'
    queue = params.slurm_queue ?: null
    clusterOptions = [
        params.slurm_account ? "--account=${params.slurm_account}" : null,
        params.slurm_qos ? "--qos=${params.slurm_qos}" : null,
        params.slurm_cluster_options ?: null
    ].findAll { option -> option }.join(' ') ?: null
    resourceLimits = [
        cpus  : params.max_cpus,
        memory: params.max_memory,
        time  : params.max_time
    ]
}

executor.queueSize = params.slurm_queue_size
