process {
    executor = 'slurm'
    queue = params.slurm_queue ?: null
    clusterOptions = [
        params.slurm_account ? "--account=${params.slurm_account}" : null,
        params.slurm_qos ? "--qos=${params.slurm_qos}" : null,
        params.slurm_cluster_options ?: null
    ].findAll { option -> option }.join(' ') ?: null
}
