process {
    withName: 'METAGENOMICS:CHECK_SAMPLESHEET' {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'METAGENOMICS:QUALITY_CONTROL_AND_FILTERING:FASTQC_RAW' {
        ext.prefix = { "${meta.id}_raw" }
        publishDir = [
            path: { "${params.outdir}/quality_control/fastqc/raw/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*_fastqc.{html,zip}'
        ]
    }

    withName: 'METAGENOMICS:QUALITY_CONTROL_AND_FILTERING:FASTP' {
        ext.prefix = { meta.id }
        ext.args = [
            '--qualified_quality_phred 30',
            '--length_required 30',
            '--detect_adapter_for_pe',
            '--trim_poly_g',
            '--trim_poly_x',
            '--cut_right',
            '--cut_right_window_size 4',
            '--cut_right_mean_quality 30',
            '--thread 6'
        ].join(' ')

        publishDir = [
            [
                path: { "${params.outdir}/quality_control/fastp/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: '*.fastp.{html,json}'
            ],
            [
                path: { "${params.outdir}/quality_control/fastp/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: '*_trimmed_*.fastq',
                enabled: params.save_clean_reads
            ]
        ]
    }

    withName: 'METAGENOMICS:QUALITY_CONTROL_AND_FILTERING:FASTQC_CLEAN' {
        ext.prefix = { "${meta.id}_clean" }
        publishDir = [
            path: { "${params.outdir}/quality_control/fastqc/clean/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*_fastqc.{html,zip}'
        ]
    }

    withName: 'METAGENOMICS:QUALITY_CONTROL_AND_FILTERING:BOWTIE2_HOST_REMOVAL' {
        ext.prefix = { meta.id }
        ext.args   = '--very-sensitive-local --phred33'
        publishDir = [
            [
                path: { "${params.outdir}/quality_control/host_removal/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: '*.bowtie2.log'
            ],
            [
                path: { "${params.outdir}/quality_control/host_removal/${meta.id}" },
                mode: params.publish_dir_mode,
                pattern: '*_nonhost_*.fastq.gz',
                enabled: params.save_host_removed_reads
            ]
        ]
    }
}
