process {
    cpus   = 1
    memory = 4.GB
    time   = 2.h

    withName: CHECK_SAMPLESHEET {
        cpus   = 1
        memory = 1.GB
        time   = 30.m
    }

    withName: 'FASTQC_RAW|FASTQC_CLEAN' {
        cpus   = 4
        memory = 19.GB
        time   = 1.d
    }

    // The historical job allocated 16 CPUs while fastp itself used six threads.
    withName: FASTP {
        cpus   = 16
        memory = 19.GB
        time   = 1.d
    }

    withName: BOWTIE2_HOST_REMOVAL {
        cpus   = 24
        memory = 19.GB
        time   = 2.d
    }

    withName: MEGAHIT {
        cpus   = 32
        memory = 500.GB
        time   = 14.d
    }

    withName: SPADES {
        cpus   = 32
        memory = 1800.GB
        time   = 14.d
    }

    withName: 'METAQUAST_MEGAHIT|METAQUAST_SPADES' {
        cpus   = 6
        memory = 20.GB
        time   = 2.d
    }

    withName: COVERM_CONTIG {
        cpus   = 24
        memory = 100.GB
        time   = 7.d
    }

    withName: COMEBIN {
        cpus   = 32
        memory = 100.GB
        time   = 7.d
    }

    withName: METABAT2 {
        cpus   = 32
        memory = 100.GB
        time   = 7.d
    }

    withName: SEMIBIN2 {
        cpus   = 25
        memory = 100.GB
        time   = 7.d
    }

    withName: VAMB {
        cpus   = 32
        memory = 100.GB
        time   = 7.d
    }

    withName: DASTOOL {
        cpus   = 24
        memory = 250.GB
        time   = 7.d
    }

    withName: 'CHECKM2_RAW|CHECKM2_CLEAN|CHECKM2_FINAL' {
        cpus   = 24
        memory = 25.GB
        time   = 7.d
    }

    withName: 'GUNC_RAW|GUNC_CLEAN|GUNC_FINAL' {
        cpus   = 24
        memory = 25.GB
        time   = 7.d
    }

    withName: 'DREP_ANI_99|DREP_SPECIES_95|DREP_FINAL_99|DREP_FINAL_SPECIES_95' {
        cpus   = 24
        memory = 100.GB
        time   = 14.d
    }

    withName: GTDBTK_CLASSIFY {
        cpus   = 24
        memory = 100.GB
        time   = 14.d
    }

    withName: PHYLOPHLAN {
        cpus   = 32
        memory = 120.GB
        time   = 14.d
    }

    withName: GENEMARKS2 {
        cpus   = 4
        memory = 20.GB
        time   = 7.d
    }

    withName: EGGNOGMAPPER {
        cpus   = 5
        memory = 30.GB
        time   = 14.d
    }

    withName: INTERPROSCAN {
        cpus   = 16
        memory = 128.GB
        time   = 14.d
    }

    withName: COVERM_MAG_ABUNDANCE {
        cpus   = 24
        memory = 100.GB
        time   = 7.d
    }

    withName: MULTIQC {
        cpus   = 2
        memory = 8.GB
        time   = 4.h
    }
}
