process {
    cpus   = 1
    memory = 4.GB
    time   = 2.h

    withName: CHECK_SAMPLESHEET {
        cpus   = 1
        memory = 1.GB
        time   = 30.m
    }

    withName: 'FASTQC_RAW|FASTQC_CLEAN' {
        cpus   = params.stub_run ? 1 : 4
        memory = params.stub_run ? 1.GB : 19.GB
        time   = params.stub_run ? 10.m : 1.d
    }

    // The historical job allocated 16 CPUs while fastp itself used six threads.
    withName: FASTP {
        cpus   = params.stub_run ? 1 : 16
        memory = params.stub_run ? 1.GB : 19.GB
        time   = params.stub_run ? 10.m : 1.d
    }

    withName: BOWTIE2_HOST_REMOVAL {
        cpus   = params.stub_run ? 1 : 24
        memory = params.stub_run ? 1.GB : 19.GB
        time   = params.stub_run ? 10.m : 2.d
    }

    withName: MEGAHIT {
        cpus   = params.stub_run ? 1 : 32
        memory = params.stub_run ? 1.GB : 500.GB
        time   = params.stub_run ? 10.m : 14.d
    }

    withName: SPADES {
        cpus   = params.stub_run ? 1 : 32
        memory = params.stub_run ? 1.GB : 1800.GB
        time   = params.stub_run ? 10.m : 14.d
    }

    withName: 'METAQUAST_MEGAHIT|METAQUAST_SPADES' {
        cpus   = params.stub_run ? 1 : 6
        memory = params.stub_run ? 1.GB : 20.GB
        time   = params.stub_run ? 10.m : 2.d
    }

    withName: COVERM_CONTIG {
        cpus   = params.stub_run ? 1 : 24
        memory = params.stub_run ? 1.GB : 100.GB
        time   = params.stub_run ? 10.m : 7.d
    }

    withName: COMEBIN {
        cpus   = params.stub_run ? 1 : 32
        memory = params.stub_run ? 1.GB : 100.GB
        time   = params.stub_run ? 10.m : 7.d
    }

    withName: METABAT2 {
        cpus   = params.stub_run ? 1 : 32
        memory = params.stub_run ? 1.GB : 100.GB
        time   = params.stub_run ? 10.m : 7.d
    }

    withName: SEMIBIN2 {
        cpus   = params.stub_run ? 1 : 25
        memory = params.stub_run ? 1.GB : 100.GB
        time   = params.stub_run ? 10.m : 7.d
    }

    withName: VAMB {
        cpus   = params.stub_run ? 1 : 32
        memory = params.stub_run ? 1.GB : 100.GB
        time   = params.stub_run ? 10.m : 7.d
    }

    withName: DASTOOL {
        cpus   = params.stub_run ? 1 : 24
        memory = params.stub_run ? 1.GB : 250.GB
        time   = params.stub_run ? 10.m : 7.d
    }

    withName: 'CHECKM2_RAW|CHECKM2_CLEAN|CHECKM2_FINAL' {
        cpus   = params.stub_run ? 1 : 24
        memory = params.stub_run ? 1.GB : 25.GB
        time   = params.stub_run ? 10.m : 7.d
    }

    withName: 'GUNC_RAW|GUNC_CLEAN|GUNC_FINAL' {
        cpus   = params.stub_run ? 1 : 24
        memory = params.stub_run ? 1.GB : 25.GB
        time   = params.stub_run ? 10.m : 7.d
    }

    withName: 'DREP_ANI_99|DREP_SPECIES_95|DREP_FINAL_99|DREP_FINAL_SPECIES_95' {
        cpus   = params.stub_run ? 1 : 24
        memory = params.stub_run ? 1.GB : 100.GB
        time   = params.stub_run ? 10.m : 14.d
    }

    withName: GTDBTK_CLASSIFY {
        cpus   = params.stub_run ? 1 : 24
        memory = params.stub_run ? 1.GB : 100.GB
        time   = params.stub_run ? 10.m : 14.d
    }

    withName: PHYLOPHLAN {
        cpus   = params.stub_run ? 1 : 32
        memory = params.stub_run ? 1.GB : 120.GB
        time   = params.stub_run ? 10.m : 14.d
    }

    withName: GENEMARKS2 {
        cpus   = params.stub_run ? 1 : 4
        memory = params.stub_run ? 1.GB : 20.GB
        time   = params.stub_run ? 10.m : 7.d
    }

    withName: EGGNOGMAPPER {
        cpus   = params.stub_run ? 1 : 5
        memory = params.stub_run ? 1.GB : 30.GB
        time   = params.stub_run ? 10.m : 14.d
    }

    withName: INTERPROSCAN {
        cpus   = params.stub_run ? 1 : 16
        memory = params.stub_run ? 1.GB : 128.GB
        time   = params.stub_run ? 10.m : 14.d
    }

    withName: COVERM_MAG_ABUNDANCE {
        cpus   = params.stub_run ? 1 : 24
        memory = params.stub_run ? 1.GB : 100.GB
        time   = params.stub_run ? 10.m : 7.d
    }

    withName: MULTIQC {
        cpus   = params.stub_run ? 1 : 2
        memory = params.stub_run ? 1.GB : 8.GB
        time   = params.stub_run ? 10.m : 4.h
    }
}
