params.stub_run = true

process {
    maxForks = 4
    cpus = 1
    memory = 1.GB
    time = 10.m
    container = 'ubuntu:24.04'
    conda = 'conda-forge::bash=5.2.37'

    withName: '.*' {
        cpus = 1
        memory = 1.GB
        time = 10.m
        container = 'ubuntu:24.04'
        conda = 'conda-forge::bash=5.2.37'
    }
}
