process {
    executor = 'local'
    resourceLimits = [
        cpus  : 4,
        memory: 8.GB,
        time  : 2.h
    ]
}

executor.queueSize = 2

params {
    input              = "${projectDir}/tests/generated_data/samplesheet.csv"
    host_bowtie2_index = "${projectDir}/tests/generated_reference/GRCh38_p14"
    checkm2_db         = "${projectDir}/tests/generated_data/databases/checkm2/uniref100.KO.1.dmnd"
    gunc_db            = "${projectDir}/tests/generated_data/databases/gunc/gunc_db.dmnd"
    gtdbtk_db          = "${projectDir}/tests/generated_data/databases/gtdbtk"
    phylophlan_db      = "${projectDir}/tests/generated_data/databases/phylophlan"
    genemark_key       = "${projectDir}/tests/generated_data/licenses/gm_key"
    genemark_home      = "${projectDir}/tests/generated_data/software/genemark"
    eggnog_db          = "${projectDir}/tests/generated_data/databases/eggnog"
    interproscan_data  = "${projectDir}/tests/generated_data/databases/interproscan"
    outdir             = "${projectDir}/tests/results/production"
    max_cpus           = 4
    max_memory         = '8 GB'
}
