params {
    outdir      = "${params.pipeline_root ?: projectDir.parent.parent}/tests/results/synthetic_real"
    max_cpus    = 6
    max_memory  = '8 GB'
    max_time    = '2h'
    stub_run    = false
}

process {
    maxForks = 2
    resourceLimits = [
        cpus  : 6,
        memory: 8.GB,
        time  : 2.h
    ]

    withName: CHECK_SAMPLESHEET {
        cpus   = 1
        memory = 1.GB
        time   = 10.m
    }

    withName: BOWTIE2_BUILD_SYNTHETIC {
        cpus   = 2
        memory = 2.GB
        time   = 30.m
        publishDir = [
            path: "${params.outdir}/synthetic_reference/bowtie2",
            mode: params.publish_dir_mode,
            pattern: 'synthetic_host.{*.bt2*,bowtie2-build.log}'
        ]
    }

    withName: 'FASTQC_RAW|FASTQC_CLEAN' {
        cpus   = 2
        memory = 2.GB
        time   = 30.m
    }

    withName: FASTP {
        cpus   = 6
        memory = 3.GB
        time   = 30.m
    }

    withName: BOWTIE2_HOST_REMOVAL {
        cpus   = 4
        memory = 4.GB
        time   = 1.h
    }

    withName: 'MEGAHIT|SPADES' {
        cpus   = 4
        memory = 6.GB
        time   = 2.h
    }

    withName: 'METAQUAST_MEGAHIT|METAQUAST_SPADES' {
        cpus   = 2
        memory = 4.GB
        time   = 1.h
    }
}

executor.queueSize = 2
